:root {
  --primary-color: #d29595;
  --light-color: #fcf8f8;
  --text-light: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
}
/* header */
/* css-nesting */

/* .main-header {
  padding: 1.5rem 0;

  .header-container {
    margin: 0 auto;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .logo {
      height: 10rem;
      width: auto;
      border-radius: 50%;
    }
  }
} */
/* nesting-ends */
.main-header {
  padding: 1.5rem 0;
}

.main-header .header-container {
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color);
}

.main-header .header-container .logo {
  height: 10rem;
  width: auto;
  border-radius: 50%;
}
.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-links li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
}

.nav-links li a:hover {
  color: #e6e6e6;
}

/* coffee card */
.coffee-card {
  background-color: var(--light-color);
  width: auto;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color);
}

.coffee-card figure {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.coffee-card figure img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.coffee-card .content-wrapper {
  padding: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  flex-grow: 1;
}

.content-wrapper h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem;
}

.content-wrapper p {
  font-size: 1.2rem;
  font-weight: bold;
}

.coffee-card footer {
  text-align: center;
  padding: 1.5rem 2rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 1rem;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--text-light);
}

.coffee-shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 3rem;
  margin: 0 auto;
  row-gap: 3rem;
  column-gap: 2rem;
}

/* .menu {
  grid-column-start: 1/-1;
  grid-row-start: 1/2;
} */

/* hero section */
.hero {
  background-color: var(--light-color);
  max-width: 120rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  box-shadow: 0 0.4rem 0.8rem var(--shadow-color);
}

.hero h2 {
  color: var(--primary-color);
  text-align: center;
  padding: 5rem;
  font-size: 8rem;
  letter-spacing: -0.5px;
  line-height: 0.9;
}

.hero img {
  height: auto;
  width: auto;
  border: 1rem;
  object-fit: cover;
}

/* responsive css for mobile phones */

@media (max-width: 600px) {
  .main-header .header-container {
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
  }

  .hero {
    flex-direction: column;
    margin: 0 auto;
  }

  .hero h2 {
    font-size: 4.5rem;
    padding: 3rem 2rem;
  }
  .hero img {
    width: 100%;
    height: auto;
  }

  .coffee-shop {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
    margin: 0 auto;
  }
}

.check-preference {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.c {
  margin: 1rem;
  padding: 1rem;
}
